data
data/raw_data
research/notebooks/test_1.ipynb
research/notebooks/challenge
research/notebooks/football-players-detection-4
research/notebooks/test
research/notebooks/train
research/notebooks/EDA.html
data/raw_data/soccer_net/
data/staging_data
data/consumption_data/soccer_net/
data/consumption_data
/home/ivanbliminse/Documents/Football-Event-Detection-Model/data/consumption_data/soccer_net
data/consumption_data
research/notebooks/.cometml-runs