data/raw_data
src/Football_Event_Detector/YOLO/data/
src/Football_Event_Detector/YOLO/old_txt_files/
src/Football_Event_Detector/YOLO/metadata/
research/notebooks/test_1.ipynb
research/notebooks/challenge
research/notebooks/football-players-detection-4
research/notebooks/test
research/notebooks/train
research/notebooks/EDA.html
data/raw_data/soccer_net/